{% extends "layout.html" %}
{% block content %}
    <title>Transfer Learning</title>
    <h1>Transfer Learning</h1>
    <form method=post enctype=multipart/form-data >

        <h4>Select Model to Retrain:</h4>
        <div class="radio">
          <label>
              <input type="radio" name="ml_models" id="incresnetv2" value="inception_resnet_v2"> IncResNetV2 </input>
          </label>
        </div>

        <!--
        <div class="radio">
          <label>
              <input type="radio" name="ml_models" id="mobilenetv1" value="mobilenet_v1"> MobileNetV1  </input><br>
          </label>
        </div>
        -->

        <h4>Upload your training images<data></data>:</h4>

        <!--
        <input type=file name=file><input type=submit class="btn btn-primary" value=Upload>
        -->

        <!--
        <input type=file name=file><input type=submit value=Upload>
        -->


        How many classes do you want to train?
        <input type="text" name="Nclasses" placeholder="Enter Number Classes"><br><br>

        <table>
          <tr>
            <th>Class</th>
            <th>Select File</th>
            <th>Number of selected images</th>
          </tr>
          <tr id="file0">
            <td><input type="text" name="row0" placeholder="Enter Name of Class"></td>
            <td><input type="file" name=row0 multiple></td>
            <td>10</td>
          </tr>
          <tr id="file1">
            <td><input type="text" name="row1" placeholder="Enter Name of Class"></td>
            <td><input type="file" name=row1 multiple></td>
            <td>8</td>
          </tr>
          <tr id="file2">
              <td><input type="text" name="row2" placeholder="Enter Name of Class"></td>
              <td><input type="file" name=row2 multiple></td>
              <td>8</td>
          </tr>
        </table>
        <input type=button value=AddNewClass><br><br><br>

        <input id=submit_button type=submit value=Train!>

        <div id="myloader" style="display: none; position: relative; top: -40px;">
            <center>
            <div class="loader">
            </div>

            Please wait. <br>
            Model being retrained with new images.<br>
            This might take some minutes.
            </center>
        </div>



    </form>


<script>
$(document).ready(function(){
    $("#myloader").hide();
    $("#submit_button").click(function(){
        $("#myloader").show();
    });
});
</script>

<style>
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
{% endblock %}