{% extends "layout.html" %}
{% block content %}
    <div>
        <title>Model succesfully trained!</title>
        <h2>Model succesfully trained!</h2>


        Model used: {{model_long_name}}<br>
        Classes in retrained model: {{ classes_list|join(', ') }}
    </div>


    <h2>Test your model with more images</h2>
    <form method=post enctype=multipart/form-data >

        <h4>Select Retrained Model:</h4>

        <div class="radio">
          <label>
              <input type="radio" name="ml_models" id="incresnetv2" value={{model_short_name}}> {{model_long_name}} </input>
          </label>
        </div>


        <!--
        <div class="radio">
          <label>
              <input type="radio" name="ml_models" id="incresnetv2" value="inception_resnet_v2"> IncResNetV2 </input>
          </label>
        </div>

        <div class="radio">
          <label>
              <input type="radio" name="ml_models" id="mobilenetv1" value="mobilenet_v1"> MobileNetV1  </input><br>
          </label>
        </div>
        -->

        <h4>Graph Importing Options:</h4>
        <div class="radio">
          <label>
            <input type="radio" name="import_options" id="checkpoints" value="checkpoints"> Checkpoints </input>
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="import_options" id="frozen"      value="frozen">      Frozen      </input>
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="import_options" id="compiled"    value="compiled">    Compiled    </input><br>
          </label>
        </div>

        <h4>Select File to Process:</h4>
        <!--

        <input type=file name=file><input type=submit class="btn btn-primary" value=Upload>
        -->

        <input type=file name=file><input type=submit value=Upload>


    </form>
{% endblock %}